@model App.Auth.Models.ForgotPasswordViewModel
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;

@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_MasterLayoutMain.cshtml";
}


<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="container">
                        <div class="forgot-section">
                            <h2>@ViewBag.Title</h2>

                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {


                                <input type="hidden" name="domain" id="domain" />
                                <input type="hidden" name="emailfrom" id="email" />
                                <h4>Enter your email.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        @Html.Captcha(4)
                                        <p class="Error">  @ViewBag.ErrMessage </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Email Link" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<style>
    .Error {
        color: red;
    }
</style>
<script>

    function extractHostname(url) {
        var hostname;
        //find & remove protocol (http, ftp, etc.) and get hostname

        if (url.indexOf("://") > -1) {
            hostname = url.split('/')[2];
        }
        else {
            hostname = url.split('/')[0];
        }

        //find & remove port number
        hostname = hostname.split(':')[0];
        //find & remove "?"
        hostname = hostname.split('?')[0];

        return hostname;
    }
    $(document).ready(function () {
        var str = localStorage.getItem("domain");
        if (str.length > 0) {
            $('#domain').val(extractHostname(str));
        }

        var strfromemail = sessionStorage.getItem("FromEmail");
        if (strfromemail.length > 0) {
            $('#email').val(strfromemail);
        }
    });
</script>