@using App.Auth.Models
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;

@model LoginViewModel
@{
    ViewBag.Title = "Login Details";
    Layout = "~/Views/Shared/_MasterLayoutMain.cshtml";
}
<script>
    $(function ($) {

        $.ajax({
            url: "/air/Home/IsLoggedin/",
            type: "GET",
            async: true,
            cache: false,
            crossDomain: true,
            success: function (data) {
                if (data == "LoggedIn") {
                    window.history.go(-2);
                }
            }
        });

        //guestreservation
        var CompanyTypeID = sessionStorage.getItem("CompanyTypeId");
        if ((CompanyTypeID == "2") || (CompanyTypeID == "4")) {
            $('#guestreservation').show();
        }
        else {
            $('#guestreservation').hide();
        }
    });
</script>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">


                    <section id="loginForm">
                        <div class="container">
                            <div class="login-section">
                                <h2>@ViewBag.Title</h2>
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                                    @*@Html.MathCaptcha()*@


                                    <input type="hidden" name="homepageurl" id="hdHomePageUrl" />

                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            @Html.Captcha(4)
                                            <p class="Error">  @ViewBag.ErrMessage </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <p>
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Log in" class="btn btn-default" />
                                            <a href="@ViewBag.ReturnUrl" class="btn btn-default" id="guestreservation">Continue As Guest</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .Error {
        color: red;
    }
</style>
<script>
    $('a[href^="#CaptchaImage"]').attr('href', '#');
</script>
<script>
    $(document).ready(function () {
        var domain = localStorage.getItem("domain");
        $('#hdHomePageUrl').val(domain);
    });
</script>   